DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_ENGINE=django.db.backends.postgresql
DB_NAME=mobile_shop_db
DB_USER=postgres
DB_PASSWORD=postgres_secure_password
DB_HOST=127.0.0.1
DB_PORT=5432

DEFAULT_CURRENCY=NPR
DEFAULT_VAT_PERCENT=13.0
SHOP_PAN_NUMBER=999999999
SHOP_NAME="Smart Mobile & Optics Hub"
SHOP_ADDRESS="New Road, Kathmandu, Nepal"

SPARROW_SMS_TOKEN=
AAKASH_SMS_AUTH_TOKEN=
FONEPAY_MERCHANT_ID=
ESEWA_MERCHANT_CODE=
KHALTI_SECRET_KEY=

DEFAULT_BRANCH_ID=1
ENABLE_OFFLINE_PWA=True