__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/*
!/media/.gitkeep
.env
.idea/
.vscode/
*.swp
*.swo
node_modules/
staticfiles/